@{
    ViewBag.Title = "Params1";
}

<h2>Params1</h2>
<p>ID from paramter (int id): @ViewBag.ID</p>
<p>Value from parameter (string value): @ViewBag.Value</p>
<p>ModelState is valid: @ViewData.ModelState.IsValid</p>
